<section> <div class="container mt-5 text-center align-items-center justify-content-center vh-100">
    <br> <br> <br> <br> <br> <br> <br> <br>
    <h1>Spotify WHO is WHO</h1>

<br> <br>

<!-- <section>
    <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-secondary me-2" (click)="playSong()"> <i class="bi bi-play-circle-fill"></i> Song 1</button>
        <button type="button" class="btn btn-secondary me-2" (click)="playSong()"> <i class="bi bi-play-circle-fill"></i> Song 2</button>
        <button type="button" class="btn btn-secondary me-2" (click)="playSong()"> <i class="bi bi-play-circle-fill"></i> Song 3</button>
    </div>
</section>
<br>
<section>
    <div class="d-flex justify-content-center mt-4">
        <button type="button" class="btn btn-success me-2" (click)="selectBtnOption()">Artist 1</button>
        <button type="button" class="btn btn-success me-2" (click)="selectBtnOption()">Artist 2</button>
        <button type="button" class="btn btn-success me-2" (click)="selectBtnOption()">Artist 3</button>
        <button type="button" class="btn btn-success me-2" (click)="selectBtnOption()">Artist 4</button>
    </div>
</section> -->

<section>
    <div class="container mt-5 text-center align-items-center justify-content-center vh-100">
     <app-song #songComponent></app-song>
      <!-- song buttons  -->
      <div id="songContainer">
        
      </div>
      
      <br>
      
      <!-- artist buttons -->
      <div id="artistContainer">
        
      </div>
    </div>
  </section>
</div>
</section>

