<div class="outer 100vh"><br><br><br>
  <div class="container mt-5 text-center inner align-items-center justify-content-center"><br><br><br>
      <h1>SPOTIFY <span class="span">WHO</span> is <span class="span">WHO</span></h1><br><br>
     
      <div class="container mt-5 text-center align-items-center justify-content-center">
          <app-song #songComponent></app-song>
          <!-- song buttons -->
          <div class="container" id="songContainer">
           
          </div>
          <br><br><br>
          <!-- artist buttons -->
          <div class="container" id="artistContainer">
           
          </div>
      </div>
  </div>
</div>